@using FitnessWebSite.Models.Classes
@model List<PrivateProgram>


@foreach (var x in Model)
{
    <div class="col-lg-6">
        <ul class="features-items">
            <li class="feature-item">
                <div class="left-icon">
                    <img src="~/fitnessWeb/assets/images/features-first-icon.png" alt="First One">
                </div>
                <div class="right-content">
                    <h4>@x.programName</h4>
                    <p>@x.programDetail</p>
                    <a href="#" class="text-button">Get Contact for This Program</a>
                </div>
            </li>
        </ul>
    </div>
}





