@using FitnessWebSite.Models.Classes
@model List<GroupClass>


@{
    ViewBag.Title = "GroupLessonsList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="contact-wrap w-100 p-md-5 p-4">
    <h3 class="mb-4">Group Lessons</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class Name</th>
                <th>Class Detail</th>
                <th>Class File Path</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.id</td>
                    <td>@x.className</td>
                    <td>@x.classDetail</td>
                    <td>@x.classFilePath</td>
                    <td><a href="/Admin/GetGroupLesson/@x.id" class="btn btn-primary">Update</a></td>
                    <td><a href="#" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Add New Program butonu -->
    <div class="form-group mt-4">
        <a href="~/Admin/NewGroupLesson/">
            <button class="btn btn-primary">Add New Group Lessons Program</button>
        </a>

    </div>
</div>





