
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="column no-gutters">
    <div class="col-md-12 d-flex justify-content-center align-items-center" style="margin-top: 200px; flex-direction: column;">
        <h1 class="mb-4 text-center" style="color: white;">SAMTRAINING ADMIN PANELİNE HOŞGELDİNİZ . . s.</h1>
    </div>
</div> 