@model FitnessWebSite.Models.Classes.PrivateProgram
@{
    ViewBag.Title = "NewPrivateProgram";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row no-gutters">
    <div class="col-md-7">
        <div class="contact-wrap w-100 p-md-5 p-4">
            <h3 class="mb-4">Add Private Program</h3>
            <div id="form-message-warning" class="mb-4"></div>
            <div id="form-message-success" class="mb-4">
                Your message was sent, thank you!
            </div>
            <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @*<label class="label" for="name">Program Name </label>*@
                            @Html.LabelFor(x => x.programName, new { @class = "label", @for = "name" })
                            @*<input type="text" class="form-control" name="name" id="name" placeholder="Name">*@
                            @Html.TextBoxFor(x => x.programName, new { @class = "form-control", @name = "name", @type = "text", @id = "name", @placeholder = "Private Program Name" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @*<label class="label" for="#">Program Detail</label>*@
                            @Html.LabelFor(x => x.programDetail, new { @class = "label", @for = "#" })
                            @*<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message"></textarea>*@
                            @Html.TextAreaFor(x => x.programDetail, new { @class = "form-control", @name = "message", @id = "message", @placeholder = "Private Program Detail", @cols = "30", @rows = "6" })
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-success">Add New Private Program</button>
                            <div class="submitting"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-5 d-flex align-items-stretch">
        <div class="info-wrap w-100 p-5 img" style="background-image: url(../../AdminWeb/contact-form-03/images/personaltrainer.jpg);">
        </div>
    </div>
</div>

